<%- include('../includes/register/authHead')%>

  <div class="container-fluid">
    <form class="mx-auto col-12 col-md-6 col-lg-4 col-xxl-3 form-container simple-trans" method="post" action="/login"
      id="loginForm">
      <% if(err.length>0) {%>
        <div class="alert alert-danger text-center mt-3 rounded-5 color-red flash-div p-1 fade-in" role="alert">
          <%= err %>
        </div>
        <%} %>
      <h4 class="text-center">Login</h4>
      <div class="mb-3 mt-5">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp" name="email" />
        <div class="error mt-1" style="color: red; font-size: small"></div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="loginPassword" name="password" />
        <div class="error mt-1" style="color: red;  font-size: small"></div>
        <div id="emailHelp" class="form-text mt-3 ">
          <a href="/forgotpassword" class="text-danger">Forget password ?</a>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-3">Login</button>
      <p class="text-center mt-3">- - - - - - - -OR- - - - - - - - -</p>
      <div class="d-flex flex-column justify-content-center align-items-center">

        <div id="g_id_onload"
        data-client_id="<%=process.env.GOOGLE_CLIENT_ID%>"
        data-context="signin"
        data-ux_mode="popup"
        data-callback="handleToken"
        data-auto_prompt="false">
   </div>
   
   <div class="g_id_signin"
        data-type="standard"
        data-shape="pill"
        data-theme="filled_blue"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left"
        data-width="191">
   </div>

        <a href="/otplogin">
          <button type="button" class="sign-in-options mt-2 p-1 col-12">
            <img src="/images/sampleImages/password_10098081.png" alt="" style="width: 20px; height: 20px" />
            Login with OTP
          </button>
        </a>

      </div>
    </form>
    <div
      class="sign-up d-flex align-items-center justify-content-evenly mx-auto mt-4 mb-5 col-12 col-md-6 col-lg-4 col-xxl-3">
      <div class="col-6">
        <p class="mb-0">Don't have a account</p>
      </div>
      <div><a href="/signup" class="ms-3 col-6">Sign Up</a></div>
    </div>
  </div>

 
  <%- include('../includes/validations/userloginVal.ejs')%>
    <%- include('../includes/register/authEnd.ejs')%>