<%- include('../includes/admin/adminhead')%>
  <!-- Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <%- include('../includes/admin/adminSidebar')%>
      <!-- Main wraapper -->
      <div class="body-wrapper">
        <%- include('../includes/admin/adminHeader')%>
          <div class="container-fluid bg-light">
            <div class="add-prd-form-container">
              <h5 class="mt-3">OrderInfo</h5>
              <div class="header-div d-flex mt-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor"
                        class="bi bi-person-square text-dark ms-2" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" />
                    </svg>
                <div class="user-Details d-flex flex-column ms-3 mt-2">
                    <strong><%=order.user[0].userName%></strong>
                    <p class="m-0"><%=order.user[0].email%></p>
                    <p class="m-0"><%=order.user[0].mobile%></p>
                </div>
              </div>
              <div class="d-flex middle-div mt-4 ">
                <div class="card mt-3 order-details col-6 me-2">
                    <div class="card-header">
                        <h6>Order Details</h6>
                    </div>
                    <div class="card-body ">
                        <p class="mb-1">Order#: <span><%=order.orderStatus[0].orderId%></span></p>
                        <p class="mb-1">Order Date: <span><%=order.orderStatus[0].orderDate%></span></p>
                        <p class="mb-1">Order Total: <span class="fw-bold">₹ <%=order.orderStatus[0].orderTotal%></span></p>
                        <p class="mb-1 ">Status: <span class="text-success"><%=order.orderStatus[0].orderStatus%></span></p>
                    </div>
                </div>
                <div class="card mt-3 billing col-6">
                    <div class="card-header">
                        <h6>Billing Address</h6>
                    </div>
                    <div class="card-body">
                        <div class="address-details">
                            <strong><%=order.orderStatus[0].shippingAddress[0].fullName%></strong>
                            <p class="mb-1"><%=order.orderStatus[0].shippingAddress[0].address%></p>
                            <p class="mb-1"><%=order.orderStatus[0].shippingAddress[0].district%></p>
                            <p class="mb-1"><%=order.orderStatus[0].shippingAddress[0].state%></p>
                            <p class="mb-1"><%=order.orderStatus[0].shippingAddress[0].pincode%></p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="card mt-2 product-info">
                <div class="card-header">
                    <h6>Product Info</h6>
                </div>
                <div class="card-body d-flex flex-wrap justify-content-between">
                    <% order.products.forEach(function(product){%>
                        <div class="card col-5 me-2 mb-2">
                            <div class="card-body d-flex ">
                                <div class="image-quantity-wrapper d-flex flex-column justify-content-center align-items-center">
                                    <img src="/images/product-images/<%=product.productImages[0][0]%>" class="rounded border border-1 border-dark" style="width: 8rem; height: 8rem;" alt="">
                                    <p class="bg-secondary-subtle p-2 mt-2 rounded">QTY : <span><%=product.quantity%></span></p>
                                </div>
                                <div class="product-details ms-md-4 d-flex flex-column mt-2 ">
                                    <strong style="text-transform: capitalize;"><%=product.productName%></strong>
                                    <p class="mt-2">Size: <span style="text-transform: capitalize;"><%=product.size%></span></p>
                                    <p>Color: <span style="text-transform: capitalize;"><%=product.color%></span></p>
                                    <p class="mt-4">Price: <span class="fw-bolder">₹ <%=product.price%></span></p>
                                   </div> 
                            </div>
                    </div>
                    <%})%>
                </div>
            </div>
            <div class="card mt-2 payment-method">
                <div class="card-header d-flex align-items-center">
                    <h6>Payment Method</h6>
                </div>
                <div class="card-body">
                    <h6 class="py-3 fw-bolder"><%=order.orderStatus[0].paymentMethod%></h6>
                </div>
            </div>
           <div class="bottom-div d-flex justify-content-between">
            <div class="card orderStageMngmt col-5">
                <div class="card-header">
                    <h6>Order Stages</h6>
                </div>
                <div class="card-body">
                    <select class="form-select" aria-label="Default select example" id="stages">
                        <option value="PREPARING FOR DISPATCH">PREPARING FOR DISPATCH</option>
                        <option value="SHIPPED">SHIPPED</option>
                        <option value="OUT FOR DELIVERY">OUT FOR DELIVERY</option>
                        <option value="DELIVERED">DELIVERED</option>
                        <!-- <option value=""></option> -->
                      </select>
                      <div class="d-flex justify-content-end mt-2"><button class="btn btn-success btn-sm">Change</button></div>
                </div>
            </div>
            <div class="card cancel-request col-5">
                <div class="card-header">
                    <h6>Cancel Request</h6>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-header">
                            Reason For Cancellation
                        </div>
                        <div class="card-body">

                        </div>
                    </div>
                      <div class="d-flex justify-content-end mt-2">
                        <button class="btn btn-success btn-sm me-2">Accept</button>
                        <button class="btn btn-danger btn-sm">Reject</button>
                    </div>
                </div>
            </div>
           </div>
          </div>
      </div>
  </div>
  </div>

  <script>
const orderStage = '<%=order.orderStatus[0].orderStage%>'
const orderStagesSelect = document.getElementById('stages');
const orderStages = orderStagesSelect.options;
for(let stage of orderStages){
    if(stage.value === orderStage){
        stage.selected = true;
    }
}
console.log(orderStage)
  </script>

  <%- include('../includes/validations/addProductVal')%>
    <%- include('../includes/admin/adminEnd')%>