<%- include('../includes/admin/adminhead')%>
    <!-- body wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <%- include('../includes/admin/adminSidebar')%>
            <!-- Main wraapper -->
            <div class="body-wrapper">
                <%- include('../includes/admin/adminHeader')%>
                    <div class="container-fluid bg-light">
                        <div class="row mt-5">
                            <div class="menu-bar d-flex flex-column flex-md-row-reverse justify-content-between">
                                <button class="btn add-product col-12 mt-3 mt-md-0 col-md-2" id="addCouponBtn"
                                    data-bs-toggle="modal" data-bs-target="#addCouponModal">Add Coupon</button>
                            </div>

                        </div>

                        <div class="mt-5">
                            <table class="table display border border-2 rounded" id="product-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Coupon Name</th>
                                        <th scope="col">Coupon Code</th>
                                        <th scope="col">Expire At</th>
                                        <th scope="col">Discount %</th>
                                        <th scope="col">Valid For</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (coupons) {%>
                                        <%coupons.forEach(function(coupon){%>
                                            <tr class="mt-3 border border-rounded">
                                                <th scope="row" style="text-transform: capitalize;" class="col-2">
                                                    <%=coupon.couponName%>
                                                </th>
                                                <td class="col-2">
                                                    <%=coupon.couponCode%>
                                                </td>
                                                <td class="col-2">
                                                    <%=coupon.validTo%>
                                                </td>
                                                <td class="col-2">
                                                    <%=coupon.discountPercentage%>
                                                </td>
                                                <td style="text-transform: capitalize;" class="col-2">
                                                    <%=coupon.validFor.categoryName%>
                                                </td>
                                                <td class="col-1">
                                                    <%if(new Date()> coupon.validTo) {%>

                                                        <p class="text-danger m-0 fw-semibold">Expired</p>
                                                        <%} else {%>
                                                            <p class="text-success m-0 fw-semibold">Active</p>
                                                            <%}%>
                                                </td>
                                                <td class="col-1">
                                                    <div
                                                        class="actions d-flex justify-content-evenly align-items-center">
                                                        <button class="editCouponBtns"
                                                            style="background: none; border: none;"
                                                            data-couponId="<%=coupon._id%>"><i
                                                                class="fa-solid fa-pen-to-square text-warning"></i></button>
                                                        <i class="fa-solid fa-trash-can text-danger"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                            <%})%>
                                                <%} %>
                                </tbody>
                            </table>
                        </div>
                        <%- include ('../includes/admin/addCouponModal')%>
                            <%- include ('../includes/admin/editCouponModal')%>
                    </div>
            </div>
    </div>
    <!-- DATA Tables Script -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>

    <script>
        new DataTable("#product-table", {
            responsive: true,
        });
  </script>
  <%- include('../includes/scripts/couponScript.ejs')%>
    <%- include('../includes/admin/adminEnd')%>