<%- include('../includes/admin/adminhead')%>
    <!-- body wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <%- include('../includes/admin/adminSidebar')%>
            <!-- Main wraapper -->
            <div class="body-wrapper">
                <%- include('../includes/admin/adminHeader')%>
                    <div class="container-fluid vh-100 bg-light">
                        <div class="row mt-5">
                            <div class="menu-bar d-flex flex-column flex-md-row-reverse justify-content-between">
                                <button class="btn add-product col-12 mt-3 mt-md-0 col-md-2" id="addCouponBtn" data-bs-toggle="modal" data-bs-target="#addCouponModal">Add Coupon</button>
                            </div>
                            
                        </div>

                        <div class="mt-5">
                            <table class="table display border border-2 rounded" id="product-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Coupon Name</th>
                                        <th scope="col">Coupon Code</th>
                                        <th scope="col">Expire At</th>
                                        <th scope="col">Discount</th>
                                        <th scope="col">Valid For</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="mt-3 border border-rounded">
                                        <th scope="row">

                                        </th>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>


                                        <td>

                                        </td>

                                        <td>

                                        </td>
                                          
                                </tbody>
                            </table>
                        </div>
                        <%- include ('../includes/admin/couponModal')%>
                    </div>
            </div>
    </div>
    <!-- DATA Tables Script -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>

    <script>
        new DataTable("#product-table", {
            responsive: true,
        });

    </script>
    <%- include('../includes/admin/adminEnd')%>