<%- include('../includes/admin/adminhead')%>
  <!-- Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <%- include('../includes/admin/adminSidebar')%>
      <!-- Main wraapper -->
      <div class="body-wrapper">
        <%- include('../includes/admin/adminHeader')%>
          <div class="container-fluid bg-light">

            <div class="add-prd-form-container">
              <h3 class="mt-3">Edit Product</h3>

              <form action="/admin/products/editproduct/<%=product._id %>?_method=PATCH" enctype="multipart/form-data"
                method="post" id="addproductForm">

                <div class="d-flex justify-content-between flex-column flex-md-row">
                  <div class="mt-3 col-md-5">
                    <label for="Product Name" class="form-label">Product Name</label>
                    <input type="text" style="text-transform: capitalize;" class="form-control" name="productName"
                      id="productName" value="<%= product.productName %>" />
                    <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
                  </div>
                  <div class="mt-3 col-md-5">
                    <label for="Category" class="form-label">Category</label>
                    <select name="category" id="category" class="form-select" style="text-transform: capitalize;">
                      <option value="<%=product.category._id%>" style="text-transform: capitalize;">
                        <%=product.category.categoryName%>
                      </option>
                      <% categories.forEach(function(category){ %>
                        <% if (category.categoryName !==product.category.categoryName){%>
                          <option style="text-transform: capitalize;" value="<%=category._id%>">
                            <%=category.categoryName%>
                          </option>
                          <%} %>
                            <%}); %>
                    </select>
                    <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
                  </div>
                </div>

                <div class="d-flex justify-content-between flex-column flex-md-row">
                  <div class="mt-3 col-md-5">
                    <label for="Price" class="form-label">Price</label>
                    <div class="d-flex price-container " id="price-parent">
                      <p class="rupee-symbol mb-0">₹</p>
                      <input type="number" class="form-control border-0 ms-3" name="price" id="price"
                        value="<%= product.price %>" />
                    </div>
                    <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
                  </div>
                  <div class="mt-3 col-md-5">
                    <label for="Product Name" class="form-label">Quantity</label>
                    <input type="number" class="form-control" min="0" id="quantity" name="quantity"
                      value="<%= product.quantity%>" />
                    <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
                  </div>
                </div>

                <div class="d-flex justify-content-between flex-column flex-md-row">

                  <div class="mt-3 col-md-5">
                    <label for="userTypes" class="form-label">User Type</label>
                    <select name="userType" style="text-transform: capitalize;" id="userTypes" class="form-select">
                      <option value="men">Men</option>
                      <option value="women">Women</option>
                      <option value="unisex">Unisex</option>
                    </select>
                    <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
                  </div>

                  <div class="mt-3 col-md-5">
                    <label for="Color Options" class="form-label">Color</label>
                    <div class="color-input-wrapper">
                      <button class="btn  rounded  btn-primary" type="button" id="addbtn"><i
                          class="fa-solid fa-circle-plus"></i></button>
                      <input type="text" class="form-control" id="colorinput" />
                    </div>
                    <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
                  </div>
                </div>

                <div class="d-flex justify-content-between mt-4 flex-column-reverse flex-md-row ">

                  <div class="mt-3 col-12 col-md-5">
                    <label for="Product Name" class="form-label">Size Options</label>
                    <div class="form-group d-flex mt-1 flex-wrap" id="size-Parent">
                      <div class="ms-1 mb-1 mb-lg-0">
                        <input type="hidden" id="sizeOptionsData" value="<%=product.sizeOptions%>">
                        <input type="checkbox" class="btn-check" id="38-s" autocomplete="off" name="sizeOptions"
                          value="38-s">
                        <label for="38-s" class="btn btn-outline-primary ">38-S</label>
                      </div>
                      <div class="ms-1 mb-md-0">
                        <input type="checkbox" class="btn-check" id="40-m" autocomplete="off" name="sizeOptions"
                          value="40-m">
                        <label for="40-m" class="btn btn-outline-primary ">40-M</label>
                      </div>
                      <div class="ms-1 mb-md-0">
                        <input type="checkbox" class="btn-check" id="42-l" autocomplete="off" name="sizeOptions"
                          value="42-l">
                        <label for="42-l" class="btn btn-outline-primary ">42-L</label>
                      </div>
                      <div class="ms-1 mb-md-0">
                        <input type="checkbox" class="btn-check" id="44-xl" autocomplete="off" name="sizeOptions"
                          value="44-xl">
                        <label for="44-xl" class="btn btn-outline-primary ">44-XL</label>
                      </div>
                      <div class="ms-1 mb-md-0">
                        <input type="checkbox" class="btn-check" id="46-xxl" autocomplete="off" name="sizeOptions"
                          value="46-xxl">
                        <label for="46-xxl" class="btn btn-outline-primary ">46-XXL</label>
                      </div>
                    </div>
                    <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
                  </div>

                  <div class="mt-3 col-12 col-md-5">

                    <label for="Selected Colors" class="form-label">Selected Colors</label>
                    <div class="inputColors border rounded border-primary d-flex p-2 flex-wrap">
                      <!-- <div class="color-wrapper border border-2 shadow px-2 py-1 rounded d-flex align-items-center me-2">
                        <p class="m-0">Red</p>
                        <i class="fa-regular fa-circle-xmark ms-2 text-danger"></i>
                      </div> -->
                    </div>
                    <input type="hidden" name="colors" id="colors-input">
                    <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
                  </div>

                </div>

                <div class="mt-5">
                  <label for="" class="form-label">Description</label>
                  <div
                    class="description-container d-flex align-items-center flex-column flex-md-row justify-content-between p-2"
                    id="des-parent">

                    <div class="col-12  mt-2 mt-md-0">
                      <textarea class="form-control ps-2 border-info" id="description" rows="8"
                        name="description"><%= product.description %></textarea>
                    </div>
                  </div>
                  <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
                </div>


                <div class="mt-5">
                  <label for="" class="form-label">Additional Information</label>
                  <div class="addl-container d-flex align-items-center p-3">
                    <textarea id="additionalInformation" cols="150" rows="7"
                      class=" border border-info rounded p-2 form-control" style="width: 100%;"
                      name="additionalInformation"><%= product.additionalInformation %></textarea>
                  </div>
                  <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
                </div>

                <div class="mt-5">
                  <label for="" class="form-label">Images</label>
                  <div class="images-container d-flex flex-column p-2 ">
                    <div class="border-1 border-info border rounded px-3 py-2 mb-2 ">
                      <div class="d-flex flex-column">
                        <div class="mb-2 exist-image-container">
                          <h6 class="text-start">Existed Images</h6>
                          <div class="d-flex mb-2 align-items-center flex-wrap border border-dark p-2 rounded"
                            id="preview-image">
                            <input type="hidden" name="existedImages" id="existedImages">
                          </div>
                        </div>
                        <div>
                          <h6 class="text-start">New Images</h6>

                          <div class="d-flex mb-2 align-items-center flex-wrap border border-dark p-2 rounded"
                            id="InputImagesPreview">
                            <!-- <div class="img-frame">
                      <img src="/images/sampleImages/gallery-02.jpg" alt="" class="me-2 border rounded"
                        style="width: 150px; height: 150px;">
                    <i class="fa-regular fa-rectangle-xmark img-close"></i>
                   </div> -->

                            <label class="form-label text-dark m-1 image-label" for="images"><i
                                class="fa-solid fa-upload me-3"></i>Upload Image</label>
                          </div>
                        </div>
                      </div>
                      <input type="file" class="form-control" multiple id="images" name="images"
                        accept=".jpg, .jpeg, .webp, .png" />
                      <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
                    </div>

                  </div>
                </div>

                <div class="mt-5 align-items-center justify-content-center d-flex flex-column">
                  <button type="submit" class="btn btn-primary rounded "
                    onclick="return confirm('Are you sure the entered details are correct ?')">Edit Product</button>
                  <%if (err) {%>
                    <div class="mt-2" style="color: red;  font-size: small; text-align: center;">
                      <%= err %>
                    </div>
                    <%} %>
                </div>

                <%- include ("../includes/admin/cropperModal.ejs")%>

              </form>

            </div>
          </div>
      </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js"></script>
  <%- include('../includes/validations/editProductVal')%>
    <%- include('../includes/admin/adminEnd')%>