<%- include('../includes/admin/adminhead')%>
    <!-- Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <%- include('../includes/admin/adminSidebar')%>
            <!-- Main wraapper -->
            <div class="body-wrapper">
                <%- include('../includes/admin/adminHeader')%>
                    <div class="container-fluid bg-light">
                        <h5>Edit Offer</h5>
                        <form action="/admin/offers/editoffer/<%=offer._id%>?_method=PATCH" method="post" class="addOfferForm" id="editOfferForm">
                            <div class="row justify-content-between mt-4 mb-4">
                                <div class="col-md-6 parent">
                                    <label for="OfferName" class="form-label">Offer Name</label>
                                    <input type="text" class="form-control" id="offerName" value="<%=offer.offerName%>"
                                        name="offerName">
                                    <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
                                </div>
                                <div class="col-md-6 mt-4 mt-md-0 parent">
                                    <label for="discount" class="form-label">Discount Percentage</label>
                                    <input type="number" name="discountPercent" value="<%=offer.discount%>"
                                        class="form-control" id="discount" min="0" max="50">
                                    <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>

                                </div>
                            </div>
                            <div class="row justify-content-between mb-4">
                                <div class="col-md-6 parent">
                                    <label for="validFrom" class="form-label">Valid From</label>
                                    <input type="date" class="form-control" id="validFrom" 
                                        name="validFrom">
                                    <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>

                                </div>
                                <div class="col-md-6 mt-4 mt-md-0 parent">
                                    <label for="validTo" class="form-label">Valid To</label>
                                    <input type="date" class="form-control" id="validTo" 
                                        name="validTo">
                                    <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>

                                </div>
                            </div>
                            <div class="row justify-content-between mb-4">
                                <div class="offer-Type-Div parent">
                                    <label for="offerType" class="form-label">Offer Type</label>
                                    <select id="editofferType" name="offerType" disabled class="form-select">
                                        <option value="">choose</option>
                                        <option value="categoryOffer">Category Offer</option>
                                        <option disabled value="productOffer">Product Offer</option>
                                    </select>
                                    <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
                                </div>
                            </div>
                            <div class="row mb-4 align-items-center justify-content-between" id="offerTypePreview">
                                <!-- product-offer-preview       -->

                                <div class="category-type-preview parent" hidden>
                                    <label for="category" class="form-label">Categories</label>
                                    <div
                                        class="category-list-div d-flex flex-wrap border border-secondary-subtle p-2 rounded ">
                                        <% categories.forEach(function(category){%>
                                            <div class="form-check me-3">
                                                <label for="<%=category.categoryName%>" class="form-check-label"
                                                    style="text-transform: capitalize;">
                                                    <%=category.categoryName%>
                                                </label>
                                                <input type="checkbox" class="form-check-input"
                                                    value="<%=category._id%>" id="<%=category.categoryName%>"
                                                    name="offerCategories">
                                            </div>
                                            <%})%>
                                    </div>
                                    <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
                                </div>

                                <div class="mt-2 mt-md-0 products-list-preview parent" hidden>
                                  <p class="m-0">Select products</p>
                                  <div class="product-list border border-secondary-subtle align-self-end p-2 rounded mt-2">
                                    <%products.forEach(function(product){%>
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="<%=product._id%>"
                                          id="<%=product.productName%>" name="offerProducts">
                                        <label class="form-check-label" for="<%=product.productName%>"
                                          style="text-transform : capitalize;">
                                          <%=product.productName%>
                                        </label>
                                      </div>
                                      <%})%>
                                  </div>
                                  <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
                                </div>

                                


                            </div>
                            <div class="d-flex align-items-center justify-content-center flex-column">
                                <button class="btn btn-primary" type="submit" id="addOfferBtn">Edit Offer</button>
                                <%if (error.length > 0){%>
                                  <div class="error mt-1 ms-2" style="color: red;  font-size: small;"><%=error%></div>
                                  <%}%>
                            </div>
                            
                        </form>
                    </div>
            </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script>
        const editValidTo = document.getElementById('validTo');
        const editValidFrom = document.getElementById('validFrom');
        const categoryPreview = document.querySelector('.category-type-preview');
        const productsPreview = document.querySelector('.products-list-preview');
        const formattedValidTo = moment(new Date('<%=offer.validTo%>')).format('YYYY-MM-DD');
        const formattedValidFrom = moment(new Date("<%=offer.validFrom%>")).format('YYYY-MM-DD');
        const offerCategories = document.getElementsByName('offerCategories');
        //const categories = document.getElementsByName('offerCategories');
        const offerProducts = document.getElementsByName('offerProducts');
        editValidTo.value = formattedValidTo;
        editValidFrom.value = formattedValidFrom;
        const serverOfferType = "<%=offer.offerType%>"
        const selectedItems = '<%=offer.offerItems%>'

        const offerType = document.getElementById('editofferType');

        if(serverOfferType === 'categoryOffer'){
          categoryPreview.hidden = false;
          offerCategories.forEach((checkbox)=>{
            if(selectedItems.includes(checkbox.value)){
              checkbox.checked = true;
            }else{
              checkbox.checked = false;
            }
          })
        }else{
          productsPreview.hidden = false;
          offerProducts.forEach((checkbox)=>{
            if(selectedItems.includes(checkbox.value)){
              checkbox.checked = true
            }else{
              checkbox.checked = false;
            }
          })
        }
        Array.from(offerType.options).forEach((option)=>{
          if(option.value.toLowerCase() == serverOfferType.toLowerCase()){
            option.selected = true
          }
        })

    </script>

    <script>
    const editOfferForm = document.getElementById('editOfferForm');
    const offerName = document.getElementById('offerName');
    const discount = document.getElementById('discount');
    //const offerTypeSelect = document.getElementById('offerType');
    let hasProductCheckError = false;

    offerName.addEventListener('blur', handleInputChange);
    validFrom.addEventListener('blur', handleInputChange);
    validTo.addEventListener('blur', handleInputChange);
    discount.addEventListener('blur', handleInputChange);
    editOfferForm.addEventListener('submit', handleEditOfferFormSubmit);


    


    function handleEditOfferFormSubmit(event) {
      event.preventDefault();

      let hasError = false;
      const allInputs = [offerName, validFrom, validTo, discount];

      if (offerType.value === 'productOffer') {
        let haschecked = false
        offerProducts.forEach((elem)=>{
          if(elem.checked){
            haschecked = true
          }
        });

        if(!haschecked){
          hasError = true
          setError(productsPreview,"check atleast one")
        }else{
          setError(productsPreview,"")
        }

      }else{
        let haschecked = false;
        offerCategories.forEach((elem) => {
          if (elem.checked) {
            haschecked = true
          }
        });

        if(!haschecked){
          hasError = true
          setError(categoryPreview,"check atleast one")
        }else{
          setError(categoryPreview,"")
        }
      }

    
      allInputs.forEach((input) => {
        const type = input.id;
        const value = input.value;

        const errorMessage = validateInputs(input, type, value);
        if (errorMessage) {
          hasError = true
          setError(input, errorMessage);
        } else {
          setError(input, '');
        }
      });

      if(!hasError){
        event.target.submit()
      }
    }

    function handleInputChange(event) {
      const input = event.target
      const type = input.id
      const value = input.value
      const errorMessage = validateInputs(input, type, value);
      setError(input, errorMessage);
    }

    const errorMessages = {
      offerName: {
        required: "This field is required"
      },
      discount: {
        required: "This field is required",
        invalid: "Maximum 50% discount is allowed",

      },
      validFrom: {
        required: "This field is required",
        invalid: "Valid From date must be before Valid To date",
        invalid2: "Enter a valid Date",
        invalid3: "Both dates cannot be same"
      },
      validTo: {
        required: "This field is required",
        invalid: "Valid To date must be after Valid From date",
        invalid2: "Enter a valid Date",
        invalid3: "Both dates cannot be same"
      },
      categories: {
        required: "Atleast one category must be selected",
      },
      products: {
        required: "Atleast one product must be selected"
      },
      offerType: {
        required: "This field is required"
      }
    }

    function validateInputs(input, type, value) {

      const errorMessage = errorMessages[type];
      const validToValue = Date.parse(validTo.value);
      const validFromValue = Date.parse(validFrom.value);
      let dates;

      if (value === '') {
        return errorMessage.required;
      }

      switch (type) {
        case 'discount':
          if (value > 50) {
            return errorMessage.invalid;
          }
          break;
        case 'validFrom':
          dates = validateDate(Date.parse(value), validToValue);
          if (dates.parsedDate >= dates.parsedOtherDate) {
            return errorMessage.invalid
          } 
          break;
        case 'validTo':
          dates = validateDate(Date.parse(value), validFromValue);
          if (dates.parsedDate <= dates.parsedOtherDate) {
            return errorMessage.invalid;
          } else if (dates.parsedDate < dates.today) {
            return errorMessage.invalid2
          }
          break;
      }
      return ''
    }

    function validateDate(dateInMs, otherDateinMs = "null") {
      const parsedDate = new Date(dateInMs);
      parsedDate.setHours(0, 0, 0, 0);
      const today = new Date();
      today.setHours(0, 0, 0, 0);
      if (otherDateinMs !== 'null') {
        const parsedOtherDate = new Date(otherDateinMs);
        parsedOtherDate.setHours(0, 0, 0, 0);
        return { parsedDate, today, parsedOtherDate }
      }
      return { parsedDate, today };
    }

    function setError(element, message) {
      const inputParent = element.closest('.parent');
      const errorDisplay = inputParent.querySelector('.error');

      errorDisplay.innerText = message;
    }

    async function fetchFunction(url, method, body) {
      const response = await fetch(url, {
        method: method,
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(body)
      })

      const data = await response.json()

      return data;
    }

  </script>
    <%- include('../includes/admin/adminEnd')%>