<%- include('../includes/shop/shopHead.ejs') %>
    <%- include('../includes/shop/shopHeader.ejs') %>

    <div class="container-fluid p-0">
        <div class="mt-4 p-0 p-md-5">
            <h5 class="mt-5 ms-2 font-poppins">Edit Profile</h5>
            <div class="edit-profile-container pt-5 my-4 d-flex align-items-center justify-content-center">
                <form action="/user/editprofile/" class="form-control shadow rounded border edit-profile-form p-5 col-12 col-md-6 col-xl-4 font-poppins">
                    <div class="d-flex align-items-center flex-column flex-md-row">
                        <div class="profile-img-frame border border-1 border-dark p-2 rounded">
                          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                            </svg>
                      </div>
                      <p class="ms-0 ms-md-4 mt-2 mt-md-0 text-secondary ">Add Photo</p>
                       </div>
                       <div class="form-part mt-4 d-flex flex-column">
                        <div>
                          <label for="fullName" class="form-label m-0">Full Name</label>
                          <div class="edit-element">
                            <input type="text" name="fullName" value="<%=userdetail.fullName%>" id="fullName" class="form-control" disabled>
                            <i class="bi bi-pencil-square text-danger icon"></i>
                          </div>
                        </div>

                        <div class="mt-3">
                          <label for="email" class="form-label m-0">Email</label>
                          <div class="edit-element ">
                            <i class="bi bi-pencil-square text-danger icon"></i>
                           <input type="email" name="email" id="email" class="form-control pe-5" style="overflow: hidden;" value="<%=userdetail.email%>" disabled>
                          </div>
                        </div>
                        
                        <div class="d-flex justify-content-between mt-3 flex-column flex-md-row">
               
                          <div class="col-12 col-md-5 p-0">
                            <label for="mobile" class="form-label m-0">Mobile</label>
                            <div class="edit-element1">
                             <input type="text" name="mobile" id="mobile" class="form-control pe-5" style="overflow: hidden;" value="<%=userdetail.phone%>" disabled>
                             <i class="bi bi-pencil-square text-danger icon"></i>
                            </div>
                          </div>
               
                          <div class="col-12 col-md-5 p-0 mt-3 mt-md-0">
                           <label for="password" class="form-label m-0">Password</label>
                            <div class="edit-element1">
                             <input type="password" name="password" id="password" value="********" class="form-control pe-5" style="overflow: hidden;" disabled>
                             <i class="bi bi-pencil-square text-danger icon"></i>
                            </div>
                          </div>
               
                        </div>
                        
                       </div>

                       <div class="d-flex justify-content-center mt-4">
                        <button class="btn btn-outline-primary btn-sm">Submit</button>
                       </div>
                </form>
            </div>
        </div>
    </div>
        <%- include('../includes/shop/shopFooter.ejs') %>
            <%- include('../includes/shop/shopEnd.ejs') %>