<%- include('../includes/shop/shopHead.ejs') %>
    <%- include('../includes/shop/shopHeader.ejs') %>

        <div class="p-md-5 mx-md-5 mt-4 ">
            <div class="container font-poppins ">
                <div class="main-wrapper mt-5">
                    <h6>My Orders</h6>
                    <div class="main-frame">
                        <div class="card mt-2">
                            <div class="card-header">
                                <h6>Summary</h6>
                            </div>
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div class="orderDetail-div">
                                    <p class="mb-1">Order#: <span>
                                            <%= order.orderStatus[0].orderId%>
                                        </span></p>
                                    <p class="mb-1">Order Date: <span>
                                            <%= orderDate%>
                                        </span></p>
                                    <p class="mb-1">Order Total: <span class="fw-bold">₹ <%=
                                                order.orderStatus[0].orderTotal%></span></p>
                                    <% if(order.orderStatus[0].orderStatus==='CANCELLATION REQUESTED' ||
                                        order.orderStatus[0].orderStatus==='ORDER CANCELLED' ||
                                        order.orderStatus[0].orderStatus==='PENDING' ) {%>
                                        <p class="mb-1 ">Status: <span class="text-danger">
                                                <%= order.orderStatus[0].orderStatus%>
                                            </span></p>
                                        <%} else {%>
                                            <p class="mb-1 ">Status: <span class="text-success">
                                                    <%= order.orderStatus[0].orderStatus%>
                                                </span></p>
                                            <%}%>
                                                <%if(order.orderStatus[0].orderStatus==='PENDING'){%>
                                                    <p class="mb-1 fw-semibold text-danger">Your payment failed or in
                                                        pending state retry payment</p>
                                                    <%}%>
                                </div>
                                <%if (order.orderStatus[0].orderStatus==='PENDING' ){%>

                                    <div>
                                        <button class="btn btn-warning" id="retryPayment"
                                            data-orderId="<%=order._id%>">Retry Payment</button>
                                    </div>

                                    <%}%>

                                        <% if (order.orderStatus[0].orderStatus==="DELIVERED" || 
                                            order.orderStatus[0].paymentMethod.method==='razorpay' && order.orderStatus[0].orderStatus !== "PENDING" && order.orderStatus[0].orderStatus !== "ORDER CANCELLED") {%>

                                            <div>
                                                <button class="btn btn-primary btn-sm" id="downloadInvoice"
                                                    data-orderId="<%=order._id%>">Download Invoice</button>
                                            </div>

                                            <%} %>
                            </div>
                        </div>
                        <div class="card mt-2">
                            <div class="card-header">
                                <h6>Product Info</h6>
                            </div>
                            <div class="card-body ">
                                <div class="vstack gap-2">
                                    <%order.products.forEach(function(item){%>
                                        <div class="card">
                                            <div class="card-body d-flex flex-column flex-md-row ">
                                                <div
                                                    class="image-quantity-wrapper d-flex flex-column justify-content-center align-items-center col-12 col-md-2">
                                                    <img src="/images/product-images/<%=item.productImages[0][0]%>"
                                                        class="rounded border border-1 border-dark"
                                                        style="width: 8rem; height: 8rem;" alt="">
                                                    <p class="bg-secondary-subtle p-2 mt-2 rounded">QTY : <span>
                                                            <%=item.quantity%>
                                                        </span></p>
                                                </div>
                                                <div
                                                    class="product-details ms-md-3 d-flex flex-column mt-2 col-12 col-md-8">
                                                    <strong style="text-transform: capitalize;">
                                                        <%=item.productName%>
                                                    </strong>
                                                    <p class="mt-2">Size: <span style="text-transform: capitalize;">
                                                            <%=item.size%>
                                                        </span></p>
                                                    <p>Color: <span style="text-transform: capitalize;">
                                                            <%=item.color%>
                                                        </span></p>
                                                    <p class="mt-4">Price: <span class="fw-bold">₹ <%= item.price%>
                                                        </span></p>
                                                </div>
                                                <div class="div d-flex flex-column align-self-center mt-3 mt-md-0">
                                                    <a href="/productdetail/<%=item.productId%>"
                                                        class="btn btn-primary btn-sm mb-2">View Product</a>
                                                    <%if (order.orderStatus[0].orderStatus==='SHIPPED' ||
                                                        order.orderStatus[0].orderStatus==='PREPARING FOR DISPATCH' ||
                                                        order.orderStatus[0].orderStatus==='CONFIRMED' ) {%>
                                                        <button class="btn btn-outline-dark btn-sm mb-2 ">Cancel
                                                            Product</button>
                                                        <%} else {%>
                                                            <button class="btn btn-outline-dark btn-sm mb-2 "
                                                                disabled>Cancel Product</button>
                                                            <%} %>

                                                                <%if (order.orderStatus[0].orderStatus==='DELIVERED' )
                                                                    {%>
                                                                    <button
                                                                        class="btn btn-primary btn-sm mb-2 rateModal-trigger"
                                                                        data-productName="<%=item.productName%>"
                                                                        data-productId="<%=item.productId%>"
                                                                        data-toggle="modal"
                                                                        data-target="#ratingModal">Rate Product</button>
                                                                    <%} %>
                                                </div>
                                            </div>
                                        </div>
                                        <%})%>
                                </div>
                            </div>
                        </div>
                        <%- include ('../includes/user/rating.ejs')%>
                            <div class="card mt-2">
                                <div class="card-header d-flex align-items-center">
                                    <h6>Payment Method</h6>
                                </div>
                                <div class="card-body">
                                    <h6 class="py-3">
                                        <%= order.orderStatus[0].paymentMethod.method%>
                                    </h6>
                                </div>
                            </div>
                            <div class="card mt-2">
                                <div class="card-header">
                                    <h6>Billing Address</h6>
                                </div>
                                <div class="card-body">
                                    <div class="mt-2">
                                        <strong>
                                            <%= order.orderStatus[0].shippingAddress[0].fullName%>
                                        </strong>
                                        <p class="mb-1">
                                            <%= order.orderStatus[0].shippingAddress[0].address%>
                                        </p>
                                        <p class="mb-1">
                                            <%= order.orderStatus[0].shippingAddress[0].district%>
                                        </p>
                                        <p class="mb-1">
                                            <%= order.orderStatus[0].shippingAddress[0].state%>
                                        </p>
                                        <p>
                                            <%= order.orderStatus[0].shippingAddress[0].pincode%>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <% if(order.orderStatus[0].orderStatus !=='ORDER CANCELLED' ) {%>
                                <div class="my-3 d-flex flex-column flex-md-row ">
                                    <a href="/myorders/trackorder/<%=order._id%>"
                                        class="btn btn-primary px-5 border border-2 border-primary me-md-2 mb-2 mb-md-0">Track
                                        Order</a>
                                    <%if (order.orderStatus[0].orderStatus==='SHIPPED' ||
                                        order.orderStatus[0].orderStatus==='PREPARING FOR DISPATCH' ||
                                        order.orderStatus[0].orderStatus==='CONFIRMED' ) {%>
                                        <button class="btn btn-outline-dark px-5 border border-dark border-2"
                                            id="cancelBtn">Cancel Order</button>
                                        <%} else if(order.orderStatus[0].orderStatus==='DELIVERED' ) {%>
                                            <button class="btn btn-outline-dark px-5 border border-dark border-2"
                                                id="returnBtn">Return Order</button>
                                            <%} else if(order.orderStatus[0].orderStatus==='RETURN REQUESTED' ){%>
                                                <button class="btn btn-outline-dark px-5 border border-dark border-2"
                                                    id="cancelBtn" disabled>RETURN ORDER</button>
                                                <%} else {%>
                                                    <button
                                                        class="btn btn-outline-dark px-5 border border-dark border-2"
                                                        id="cancelBtn" disabled>Cancel Order</button>
                                                    <%} %>
                                </div>
                                <%} %>
                    </div>
                </div>
                <%- include('../includes/user/cancelModal.ejs') %>
                    <%- include('../includes/user/returnModal.ejs') %>
            </div>
        </div>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script>
            const status = '<%=order.orderStatus[0].orderStatus%>'
            console.log(status)
            const cancelBtn = document.getElementById('cancelBtn');
            const returnBtn = document.getElementById('returnBtn');
            const retryPayBtn = document.getElementById('retryPayment');
            const downloadInvoice = document.getElementById('downloadInvoice');

            if (status === "PENDING") {
                retryPayBtn.addEventListener('click', async () => {
                    const orderId = retryPayBtn.getAttribute('data-orderId');
                    console.log(orderId);
                    const url = `/myorders/order/retrypayment/${orderId}`
                    const method = 'POST';
                    const body = {}
                    const data = await fetchFunction(url, method, body);
                    console.log(data);
                    if (data?.payment !== '') {
                        return razorpayPayment(data.payment)
                    }
                })
            }

            if (status === 'DELIVERED') {
                returnBtn.addEventListener('click', () => {
                    document.getElementById('returnOrderTrigger').click()
                });
            } else {
                cancelBtn.addEventListener('click', () => {
                    document.getElementById('cancelModal').click()
                });
            }

            async function fetchFunction(url, method, body) {
                const response = await fetch(url, {
                    method: method,
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(body)
                });

                const data = await response.json();
                return data;
            }

            function razorpayPayment(paymentData) {
                const RZY_KEY = "<%=process.env.RAZORPAY_KEY_ID%>"
                let options = {
                    "key": RZY_KEY, // Enter the Key ID generated from the Dashboard
                    "amount": paymentData.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "currency": "INR",
                    "name": "Hola Haute",
                    "description": "Wallet Transaction",
                    "image": "/images/logo/logo_1.png",
                    "order_id": paymentData.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (response) {
                        verifyPayment(response, paymentData)
                    },
                    "notes": {
                        "address": "Hola Haute Corporate Office"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };

                let rzp2 = new Razorpay(options);
                rzp2.open()
            }

            async function verifyPayment(response, paymentData) {
                console.log(response)
                const url = '/verifypayment'
                const method = 'POST'
                const body = {
                    response,
                    paymentData
                }
                const data = await fetchFunction(url, method, body);
                if (data.paid === true) {
                    location.reload()
                }
            }

            if (downloadInvoice) {
                downloadInvoice.addEventListener('click', async () => {
                    const orderId = downloadInvoice.getAttribute('data-orderId');
                    //console.log(orderId)
                    const url = `/myorders/order/downloadinvoice/${orderId}`;
                    const method = 'POST';
                    const body = {}
                    const response = await fetch(url, {
                        method: method,
                        headers: {
                            'Content-Type': "application/json"
                        },
                        body: JSON.stringify(body)
                    });
                    console.log(response);
                    if (response.status === 200) {
                        const blob = await response.blob();
                        downloadFile(blob)
                    }
                })
            }


            function downloadFile(blob) {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement("a");
                a.href = url;
                a.download = "invoice.pdf"
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
                window.URL.revokeObjectURL(url);
            }
            
        </script>

        <%- include('../includes/shop/shopFooter.ejs') %>
            <%- include('../includes/shop/shopEnd.ejs') %>