<%- include('../includes/shop/shopHead.ejs') %>
    <%- include('../includes/shop/shopHeader.ejs') %>

<div class="p-md-5 m-5">
    <div class="container font-poppins">
        <div class="main-wrapper">
            <div class="first-div shadow py-3 px-2 p-md-5">
                <div class="d-flex flex-column col-12">
                    <h2 class="text-success fw-bold text-center">Order Successfull</h2>
                <p class="text-center">Thank You For Ordering</p>
                </div>
                <div class="order-summary p-3 bg-success-subtle mt-5 rounded d-flex flex-column flex-md-row justify-content-around text-dark col-12">
                    <div class="left-part col-12 col-md-6 shadow-sm py-2 p-md-0 ">
                        <h5>Summary</h5>
                        <div class="mt-3">
                            <p class="mb-1">Order #: <span><%= order.orderStatus[0].orderId%></span></p>
                            <p class="mb-1">Order Date: <span><%= orderDate%></span></p>
                            <p class="mb-1">Order Total: <span class="fw-bold">₹ <%= order.orderStatus[0].orderTotal%></span></p>
                            <p class="mb-1 ">Status: <span class="text-success"><%= order.orderStatus[0].orderStatus%></span></p>
                        </div>
                    </div>
                    <div class="right-part col-12 col-md-6 shadow-sm mt-4 mt-md-0 py-2 p-md-0 shadow-md-none">
                        <h5>Shipping Address</h5>
                        <div class="mt-3">
                            <strong><%= order.orderStatus[0].shippingAddress[0].fullName%></strong>
                            <p class="mb-1"><%= order.orderStatus[0].shippingAddress[0].address%></p>
                            <p class="mb-1"><%= order.orderStatus[0].shippingAddress[0].district%></p>
                            <p class="mb-1"><%= order.orderStatus[0].shippingAddress[0].state%></p>
                            <p><%= order.orderStatus[0].shippingAddress[0].pincode%></p>
                        </div>
                    </div>
                </div>
                <div class="products d-flex flex-column mt-3 p-md-4 p-0">
                    <div class="vstack gap-2">
                        <%order.products.forEach(function(item){%>
                        <div class="card">
                            <div class="card-body d-flex flex-column flex-md-row">
                                <div class="image-quantity-wrapper d-flex flex-column justify-content-center align-items-center col-12 col-md-2">
                                    <img src="/images/product-images/<%=item.productImages[0][0]%>" class="rounded border border-1 border-dark" style="width: 8rem; height: 8rem;" alt="">
                                    <p class="bg-secondary-subtle p-2 mt-2 rounded">QTY : <span><%=item.quantity%></span></p>
                                </div>
                               <div class="product-details ms-md-3 d-flex flex-column mt-2 col-12 col-md-8">
                                <strong style="text-transform: capitalize;"><%=item.productName%></strong>
                                <p class="mt-2">Size: <span style="text-transform: capitalize;"><%=item.size%></span></p>
                                <p>Color: <span style="text-transform: capitalize;"><%=item.color%></span></p>
                                <p class="mt-4">Price: <span>₹ <%= item.price%></span></p>
                               </div> 
                            </div>
                          </div>
                          <%})%>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center mt-3">
                    <div class="buttons">
                        <a href="/myorders" class="btn btn-primary btn-sm">My Orders</a>
                        <a href="/shop" class="btn btn-outline-primary btn-sm">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <%- include('../includes/shop/shopFooter.ejs') %>
    <%- include('../includes/shop/shopEnd.ejs') %>