<%- include('../includes/shop/shopHead.ejs') %>
    <%- include('../includes/shop/shopHeader.ejs') %>

        <div class="container-fluid p-0">
            <div class="mt-5 p-md-5">
                <h5 class="mb-4 ms-2 font-poppins">Profile</h5>
                <div class="profile-container m-0 border pt-5 rounded shadow ">
                    <div class="inner-sec-1 d-flex justify-content-between align-items-center flex-column flex-md-row">
                        <div
                            class="d-flex justify-content-between align-items-center ms-0 ms-md-5 flex-column flex-md-row">
                            <div class="profile-img-frame border border-1 border-dark p-2 rounded">
                                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor"
                                    class="bi bi-person-square text-dark" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                    <path
                                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" />
                                </svg>
                            </div>
                            <%if(userdetail) {%>
                                <div class="ms-0 ms-md-5 text-dark text-center text-md-start mt-4 mt-md-0">
                                    <p class=" m-0 font-poppins">
                                        <%=userdetail.fullName%>
                                    </p>
                                    <p class=" m-0 font-poppins">
                                        <%=userdetail.email%>
                                    </p>
                                    <p class=" m-0 font-poppins">
                                        <%=userdetail.phone%>
                                    </p>
                                </div>
                                <%} else {%>
                                    <div class="ms-0 ms-md-5 text-dark text-center text-md-start mt-4 mt-md-0">
                                        <p class=" m-0 font-poppins">Aswin Nair T M</p>
                                        <p class=" m-0 font-poppins">aswinnairtm@gmail.com</p>
                                        <p class=" m-0 font-poppins">8113011810</p>
                                    </div>
                                    <%} %>
                        </div>
                        <div class="d-flex flex-column me-0 me-md-5 mt-3 mt-md-0 col-8 col-md-2">
                            <a href="/user/editprofile/"
                                class=" mb-3 btn btn-primary btn-sm font-poppins text-white">Edit
                                Profile</a>
                            <a href="/myorders" class="mb-3 btn btn-sm btn-primary font-poppins">My
                                Orders</a>
                        </div>
                    </div>
                    <div class="inner-middle mt-5 p-4 border-start-0 border-end-0 border font-poppins">
                        <h5>Addresses</h5>
                        <div
                            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-start mt-4 col-12 p-0">

                            <div class=" col-10 col-sm-8 col-md-5 col-xxl-3 border border-dark rounded d-flex flex-column align-items-center justify-content-center mt-2 me-2"
                                style="height: 12rem;">
                                <a href="/user/addaddress">
                                    <i class="bi bi-plus-circle-fill"></i>
                                    <small class="m-0" style="text-transform: capitalize;">add address</small>
                                </a>
                            </div>
                            <% if(addresses && addresses.length> 0) {%>
                                <%addresses.forEach(function(address) {%>
                                    <div class="col-10 col-sm-8 col-md-5 col-xxl-3 address-wrapper border border-dark rounded d-flex flex-column mt-2 me-2"
                                        style="height: 12rem;">
                                        <div class="d-flex flex-column flex-wrap p-2 mb-4" style="overflow: hidden;">
                                            <% if(address.isPrimary) {%>
                                                <small class="address-ribbon">primary</small>
                                                <%} %>
                                                    <strong>
                                                        <%= address.fullName%>
                                                    </strong>
                                                    <p class="m-0 address">
                                                        <%=address.address%>
                                                    </p>
                                                    <p class="m-0 address">
                                                        <%=address.district%>
                                                    </p>
                                                    <p class="m-0 address">
                                                        <%=address.state%>
                                                    </p>
                                                    <p class="m-0 address">
                                                        <%=address.pincode%>
                                                    </p>
                                        </div>
                                        <div class="d-flex justify-content-end me-2 address-btn-con">
                                            <%if(!address.isPrimary) {%>
                                                <button class="address-btns"
                                                    onclick="setPrimary('<%= address._id %>')">Set as primary
                                                    address</button>
                                                <%} %>
                                                    <button class=" ms-2 address-btns"><a
                                                            href="/user/editaddress/<%= address._id%>"
                                                            style="text-decoration: none;">Edit</a></button>
                                                    <button class="ms-2 address-btns"
                                                        onclick="removeAddress('<%= address._id %>')">Remove</button>
                                        </div>
                                    </div>
                                    <%} )%>
                                        <%}%>

                                            <!-- <div class="col-10 col-sm-8 col-md-5 col-xxl-3 address-wrapper border border-dark rounded d-flex flex-column mt-2 me-2"
                                style="height: 12rem;">
                                <div class="d-flex flex-column flex-wrap p-2  mb-4" style="overflow: hidden;">
                                    <small class="address-ribbon" hidden>primary</small>
                                    <strong>Aswin Nair T M</strong>
                                    <p class="m-0 address">Avittom, Konchira P O, Vembayam,</p>
                                    <p class="m-0 address">Thiruvananthapuram</p>
                                    <p class="m-0 address">Kerala</p>
                                    <p class="m-0 address">695615</p>
                                </div>
                                <div class="d-flex justify-content-end me-2 address-btn-con">
                                    <button class="address-btns">Set as primary address</button>
                                    <button class=" ms-2 address-btns">Edit</button>
                                    <button class="ms-2 address-btns">Remove</button>
                                </div>
                            </div> -->


                        </div>
                    </div>
                    <div class="inner-last p-4 font-poppins">
                        <h5>Wallet</h5>
                        <div class="wallet-wrapper mt-4">
                            <div class="inner-wrapper ms-1 d-flex align-items-center justify-content-between pe-5 mb-4">
                                <div>
                                    <i class="bi bi-wallet2"></i>
                                    <%if (walletBalance) {%>
                                        <% if (walletBalance < 10) {%>
                                            <strong class="ms-3 text-danger">₹ <%=walletBalance%></strong>
                                            <%}else{%>
                                                <strong class="ms-3 text-success">₹ <%=walletBalance%></strong>
                                                <%}%>
                                                    <%}else {%>
                                                        <strong class="ms-3 text-danger">₹ 0</strong>
                                                        <%}%>
                                </div>
                                <div class="d-flex flex-column justify-content-between">
                                    <%- include ('../includes/user/addMoneyModal.ejs') %>
                                        <button class="btn btn-success btn-sm mb-2" data-bs-toggle="modal"
                                            data-bs-target="#addMoneyModal">Add Money</button>
                                        <button class="btn btn-outline-success btn-sm" id="walletHistoryBtn">Wallet
                                            History</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        <%-include('../includes/user/walletHistory.ejs')%>
            <%- include('../includes/shop/shopFooter.ejs') %>
                <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
                <%- include('../includes/scripts/userProfileScript.ejs') %>
                <%- include('../includes/shop/shopEnd.ejs') %>