<%- include('../includes/shop/shopHead.ejs') %>
    <%- include('../includes/shop/shopHeader.ejs') %>

        <!-- Product -->
        <div class="bg0 m-t-80 p-b-140">
            <div class="container">
                <div class="p-b-10 mt-md-5 pt-md-5">
                    <h5 class="ltext-103 cl5">
                        Product Overview
                    </h5>
                </div>
                <%- include('../includes/shop/filter.ejs') %>

                    <div class="row isotope-grid">

                        <% products.forEach(function(product){%>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item simple-trans">
                                <!-- Block2 -->
                                <div class="block2">
                                    <div class="block2-pic hov-img0 product-card">
                                        <img src="/images/product-images/<%=product.images[0]%>" alt="IMG-PRODUCT"
                                            style="background-size: cover; height: 360px;">
                                            <% if (product.offerStatus === true){%>
                                                <strong class="offer-ribbon px-2"><span><%=product.offer.discount%></span>% OFF</strong>
                                                <%}%>
                                            
                                    </div>

                                    <div class="block2-txt flex-w flex-t p-t-14">
                                        <div class="block2-txt-child1 flex-col-l ">
                                            <a href="/productdetail/<%= product._id%>"
                                                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
                                                style="text-transform: capitalize;">
                                                <%=product.productName%>
                                            </a>

                                            <% if (product.offer.currentPrice === product.price){%>
                                                <span class="stext-105 cl3">
                                                    ₹ <%=product.price%>
                                                </span>
                                                <%}else{%>
                                                    
                                                    <div class="d-flex align-items-center">
                                                        <span class="stext-105 cl3">
                                                            <s>₹ <%=product.price%></s>
                                                        </span>
                    
                                                        <span class="stext-105 cl2 ms-4 text-primary fw-bolder">
                                                            ₹ <%=product.offer.currentPrice%>
                                                        </span>
                                                    </div>
                
                                                    <%}%>

                                        </div>

                                        <div class="block2-txt-child2 flex-r p-t-3 parent">

                                            <button type="button" class="addWishlistBtn"
                                                data-productid="<%=product._id%>"><i
                                                    class="fa-regular fa-heart"></i></button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%})%>

                    </div>

                    <!-- Load more -->
                    <div class="flex-c-m flex-w w-full p-t-45 parent">
                        <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                            Load More
                        </a>
                    </div>
            </div>
        </div>

        <script src="/javascript/script.js"></script>
        <%- include('../includes/shop/shopFooter.ejs') %>
            <%- include('../includes/shop/shopEnd.ejs') %>