<%- include('../includes/shop/shopHead.ejs') %> <%- include('../includes/shop/shopHeader.ejs') %>

    <div class="container">
      <div class="checkout-page bg-light py-md-5 font-poppins">
        <h6 class="ms-2 ms-md-5 mt-5">CheckOut</h6>
        <div class="check-out-wrapper rounded d-flex flex-column flex-md-row p-md-5 mt-3 mt-md-0">
          <div class="left-part col-12 col-md-6 vstack gap-3 me-2">
            <div class="card shadow">
              <div class="card-body">
                <h5>Delivery Address</h5>
                <%addresses.forEach(function (address) {%>
                  <% if(address.isPrimary===true) {%>

                    <div class="d-flex p-2 rounded border mt-3 deliveryAddressPreview">
                      <input type="radio" class="form-check-input m-0" style="position: relative"
                        value="<%=address._id%>" id="deliveryAddress" checked />
                      <div class="d-flex flex-column ms-3">
                        <strong>
                          <%= address.fullName%>
                        </strong>
                        <p class="m-0">
                          <%= address.address%>
                        </p>
                        <p class="m-0">
                          <%= address.district%>, <%= address.state%>
                        </p>
                        <p class="m-0">
                          <span style="font-size: smaller; font-weight: 600">Pincode:
                          </span>
                          <%= address.pincode%>
                        </p>
                        <p class="m-0">
                          <span style="font-size: smaller; font-weight: 600">Mobile:
                          </span>
                          <%= address.mobile%>
                        </p>
                      </div>
                    </div>

                    <%} %>
                      <%}) %>
                        <div class="d-flex justify-content-end align-items-center mt-2">
                          <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#changeAddress">
                            Change Delivery Address
                          </button>
                        </div>
                        <%- include('../includes/shop/addressSelectModal.ejs')%>
              </div>
            </div>
            <div class="card shadow">
              <div class="card-body">
                <h5>Payment Options</h5>
                <div class="vstack gap-3 mt-3">
                  <div class="d-flex align-items-center border p-2 rounded">
                    <input type="radio" class="form-check-input m-0 paymentOption" style="position: relative"
                      name="paymentOption" value="COD" checked />
                    <div class="ms-2">Cash On Delivery</div>
                  </div>
                  <div class="d-flex align-items-center border p-2 rounded justify-content-between">
                    <div class="d-flex align-items-center">
                      <input type="radio" class="form-check-input m-0 paymentOption" style="position: relative"
                        name="paymentOption" value="razorpay" />
                      <div class="ms-2">Razorpay</div>
                    </div>
                    <img src="/images/icons/razorpay-icon.png" alt="" style="height: 1rem; width: 4rem" />
                  </div>
                </div>
              </div>
            </div>
            <div class="card shadow">
              <div class="card-body py-4">
                <h5>Add Coupon</h5>
                <div class="coupon-input parent">
                  <label for="" class="form-label mt-2" style="font-size: small">Coupon Code</label>
                  <input type="text" name="coupon" id="coupon" class="form-control" />
                  <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
                </div>
                <button type="button" data-bs-toggle="modal" data-bs-target="#availableCoupons"
                  class="btn btn-link p-0 border-0">
                  <small>See available coupons</small>
                </button>
                <div class="mt-2">
                  <button class="btn btn-primary btn-sm" id="applyCoupon">
                    Apply Coupon
                  </button>
                  <button class="btn btn-outline-dark btn-sm" id="removeCoupon">
                    Remove Coupon
                  </button>
                </div>
              </div>
            </div>
            <%-include ('../includes/shop/couponsAvailable.ejs') %>
              <div class="card shadow mb-3">
                <div class="card-body py-4">
                  <div class="header d-flex align-items-center justify-content-between">
                    <h5>Wallet</h5>
                    <small>Wallet Balance : <span class="text-primary">₹ <%=walletBalance%></span></small>
                  </div>
                  <div class="input-div mt-3 d-flex flex-column">
                    <div class="form-switch">
                      <input type="checkbox" class="form-check-input" style="position: relative;" role="switch"
                        id="walletCheck">
                    </div>
                    <div class="mt-3 parent">
                      <label for="walletCash" class="form-label mb-1">Use Wallet</label>
                      <input type="text" id="walletCashInput" name="walletCash" placeholder="Enter amount"
                        class="form-control">
                      <div class="error mt-1 ms-2" style="color: red;  font-size: small;"></div>
                    </div>

                  </div>
                  <div class="d-flex justify-content-end"><button class="btn btn-primary btn-sm mt-2"
                      id="applyWalletCash">Apply Wallet Amount</button></div>
                </div>
              </div>
          </div>

          <div class="right-part col-12 col-md-6 vstack gap-3">
            <div class="card shadow">
              <div class="card-header">
                <h6 class="text-dark my-1">Billing Details :</h6>
              </div>
              <div class="card-body p-4">
                <div class="vstack gap-3">
                  <%cartItems.forEach(function(item){%>
                    <div class="product-card border-bottom border-2">
                      <p class="fw-bold text-dark" style="text-transform: capitalize">
                        <%= item.product.productName%> (<%= item.product.size %>, <%= item.product.color%>)
                      </p>

                      <div class="d-flex justify-content-between mt-3 mb-3">
                        <div class="d-flex flex-column">
                          <small class="fw-semibold">PRICE :</small>
                          <small class="fw-semibold">QUANTITY :</small>
                          <small class="fw-semibold">TOTAL :</small>
                        </div>
                        <div class="text-end d-flex flex-column">
                          <small>
                            <span>₹ </span>
                            <%= item.product.price%>
                          </small>
                          <small>
                            <%= item.product.quantity%>
                          </small>
                          <small><span>₹ </span>
                            <%= item.product.orderTotal%>
                          </small>
                        </div>
                      </div>
                    </div>
                    <%})%>
                </div>
              </div>
            </div>
            <div class="card shadow mb-5">
              <div class="card-body">
                <h5 style="text-transform: capitalize">Order Summary</h5>
                <div>
                  <div class="d-flex justify-content-between px-3 mt-3">
                    <p class="m-0">Subtotal</p>
                    <p class="m-0">
                      <span>₹ </span>
                      <%= subTotal%>
                    </p>
                  </div>
                  <div class="d-flex justify-content-between px-3 mt-2">
                    <p class="m-0">Coupon Discount</p>
                    <p class="m-0 coupon-discount-preview"><span>₹ </span></p>
                  </div>
                  <div class="d-flex justify-content-between px-3 mt-2">
                    <p class="m-0">Wallet</p>
                    <p class="m-0 wallet-discount-preview"><span>₹ </span>0</p>
                  </div>
                  <div class="d-flex justify-content-between px-3 mt-2">
                    <p class="m-0">Shipping</p>
                    <p class="m-0 deliveryCharge-preview" data-deliveryCharge="<%=deliveryCharge%>"><span>+₹ </span>
                      <%=deliveryCharge%>
                    </p>
                  </div>
                </div>
                <hr />
                <div class="d-flex justify-content-between px-3">
                  <strong class="text-success">GRAND TOTAL :</strong>
                  <strong class="grandTotal-preview"><span>₹ </span>
                    <%=grandTotal%>
                  </strong>
                </div>
                <hr />
                <div class="d-flex justify-content-center mb-2">
                  <button class="btn btn-primary" id="placeOrder">
                    Place Order
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%-include ('../includes/shop/orderModal.ejs') %>
    </div>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <%- include('../includes/scripts/checkoutScript.ejs') %> 
    <%- include('../includes/shop/shopFooter.ejs') %> 
    <%- include('../includes/shop/shopEnd.ejs') %>